.login {
  z-index: 99;
  margin: 65px 0 0 0;
  width: 100%;
  border-radius: 5px;
  font-family: 'Roboto-Black';
  font-size: 16px;
  line-height: 25px;

  background-color: #e5e5e5;
  height: 94vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    width: 800px;
    height: 216px;
    padding: 15px;
    background-color: #fff;
    margin: 0 15px;
  }

  &__right {
    border-radius: 5px;
    width: 320px;
    height: 190px;
    padding: 25px;
    background-color: #fff;
    margin: 0 15px;
  }
}
