.social {
  &__sidebar {
    width: 195px;
    position: relative;

    &_nav {
      position: fixed;
    }

    &_text {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #515152;
    }

    &_link {
      font-weight: 100;
      font-family: Roboto-Black;
      text-decoration: none;
      margin: 0 0 10px 0;
    }

    &_svg {
      color: #5181b8;
      margin: 0 12px 0 0;
    }

    &_wrapper {
      margin: 0 0 10px 0;
    }
  }
}
