.users {
  border-radius: 5px;
  font-family: 'Roboto-Black';
  font-size: 16px;
  line-height: 25px;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;

  &__selected {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 0;

    font-weight: 200;
    color: rgb(46, 46, 121);

    &_page {
      font-size: 22px;
      font-weight: 900;
      color: brown;
      margin: 0 4px;
    }

    &_not {
      transition: 0.5s;
      cursor: pointer;
      margin: 0 10px;
      &:hover {
        font-size: 22px;
        font-weight: 900;
        transition: 1;
      }
    }
  }
}

.MuiTouchRipple-root {
  color: blue !important;
}

.MuiButtonBase-root {
  color: rgb(81, 129, 184) !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.Mui-selected {
  color: #fff !important;
}

.MuiPaginationItem-page.Mui-selected {
  background-color: rgb(81, 129, 184) !important;
  color: #fff;
  border-radius: 5px;
}
