.pageNotFound {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(../../assest//image//error404.png) 50% 50% no-repeat rgb(63, 93, 129);
}
